@mixin inputColoring() {
    border: solid 0.1vh;
    border-bottom: solid black 0.5vh;
    color: getColor("silver");
    background-color: themeRGBA("grey", 0.8);
    animation: border-gradient 8s ease infinite;
    @keyframes border-gradient {
        0% {
            border-color: getColor("blue");
        }
        25% {
            border-color: getColor("green");
        }
        50% {
            border-color: getColor("red");
        }
        75% {
            border-color: getColor("yellow");
        }
        100% {
            border-color: getColor("blue");
        }
    }
    &:focus {
        outline: none;
        background-color: themeRGBA("grey", 0.6);
    }
}


input[type=text] {
    height: 3vh;
    width: 35vh;
    @include inputColoring();
}

textarea {
    @include inputColoring();
    min-width: 45vh;
    min-height: 13vh;
    margin: 0;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    &:before {
        content: "\2714";
        border: 0.1em solid #000;
        border-radius: 0.2em;
        display: inline-block;
        width: 2vh;
        height: 2vh;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
    }
    &:active:before {
        transform: scale(0);
    }
}

input[type=checkbox] {
    display: none;
    &:checked + label:before {
        background-color: getColor("green");
        border-color: getColor("green");
        color: #fff;
    }
    &:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }
    &:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }
}

select {
    color: themeRGBA("offWhite", 0.6);
    height: 4vh;
    width: 25vh;
    @include inputColoring();
}

label {
    font-weight: bold;
}