.displayedPage {
    position: relative;
    z-index: 0;
    $padding: 9%;
    background-color: getColor("offWhite");
    padding-bottom: 5%;
    padding-top: 9% !important;
    max-width: 1200px;
    margin: auto;
}