node_modules/

# ignore development enviromental variable
.env.development

# scripts for complex database updates
**dbUpdates/

# version control
.git
.gitignore

# Any readme or text files
*.md
*.txt

# windows scripts
*.bat

# unit testing
tests/
jest.config.js