node_modules/

py_scraper/
timezones/

# scripts for complex database updates
**dbUpdates/

IANNA-TZs.js

# version control
.git
.gitignore

# Any readme or text files
*.md
*.txt

# windows scripts
*.bat

# unit testing
tests/
jest.config.js