node_modules/

# environmental variables both dev and production
.env.development
.env.production

# although keys are already in env I keep original copy in case of emergency
vapidKeys.json

# windows scripts
*.bat

# database migration scripts and schema updates
**dbUpdates/

# email server details
email.txt