node_modules/

# environmental variables both dev and production
.env*

# although keys are already in env I keep original copy in case of emergency
vapidKeys.json

# build and upload scripts for production docker image
dBuild.bat
dUpload.bat

# database migration scripts and schema updates
**dbUpdates/

# email server details
email.txt