node_modules/

.env
text.json
vapidKeys.json

# build and upload scripts for production docker image
dBuild.bat
dUpload.bat

# database migration scripts and schema updates
**dbUpdates/

# email server details
email.txt