table, th, td {
    border: 1px solid black;
}

th {
    height: 30px;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.columnIdentifiers {
    background-color: getColor("green");
    color: $whiteText;
}

.locationName {
    background-color: getColor("blue");
    color: white;
}

.locationAddress {
    background-color: getColor("yellow");
}

.tableBackground {
    background-color: getColor("grey");
    border-radius: 4px;
}

.khateebs {
    background-color: getColor("offWhite");
}