table, th, td {
    border: 1px solid black;
}

th {
    height: 6vh;
    width: 50%;
}

table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
}

.columnIdentifiers {
    background-color: getColor("green");
    color: $whiteText;
    font-size: 3vh;
}

$locationMetaFontSize: 3vh;

.locationName {
    background: linear-gradient(
        to right,
        getColor("blue"),
        getColor("red")
    );
    color: white;
    font-size: $locationMetaFontSize;
}

.locationAddress {
    background-color: getColor("yellow");
    font-size: $locationMetaFontSize;
}

.table {
    background-color: getColor("grey");
    border-radius: 4px;
    margin-bottom: 8vh;
}

.khateebs {
    background: linear-gradient(
        to right,
        getColor("blue"),
        getColor("offWhite")
    );
    font-size: 2.5vh;
}

.timings {
    background: linear-gradient(
        to left,
        getColor("blue"),
        getColor("offWhite")
    );
    font-size: 2.5vh;
}