p {
    display: inline-block;
    margin: 1px 2vh 0px 2vh;
    font-size: 2vh;
    font-weight: bold;
    position: relative;
    bottom: 3.4vh;
}

.top {
  margin-top: 2vh;
}
/* ---------------------------------------------------------------------- */
/* All styling for button was taken from W3Schools */
/* from >> https://www.w3schools.com/howto/howto_css_switch.asp */
/* ---------------------------------------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 10vh;
  height: 5.2vh;
  bottom: 1.5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F3C620;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.5vh;
  bottom: 0.6vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: getColor("blue");
}

input:focus + .slider {
  box-shadow: 0 0 1px getColor("blue");
}

input:checked + .slider:before {
  $translation: 4.8vh;
  -webkit-transform: translateX($translation);
  -ms-transform: translateX($translation);
  transform: translateX($translation);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}