@mixin blinkingAnimation($speedOfAnimation: 2s, $time: infinite, $opacity: 5) {
    animation: blinking $speedOfAnimation $time;
    $fullOpacity: 1;
    @keyframes blinking {
        0%		{ opacity: $fullOpacity;}
        50%		{ opacity: $fullOpacity/$opacity;}
        100%	{ opacity: $fullOpacity;}
    }   
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.7s ease-in;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}