div {
    margin: 0 0 0 0;

    @include allColors();

    &.round {
        @include normalBorderRounding();
    }
}

span {
    @include allTextColors();
}
  
img {
    min-width: 0px;
    min-height: 0px;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
  
body {
    margin: 0 0 0 0;
    background-color: getColor("grey");
    color: getColor("offWhite");
    font-size: 16px;
}

h2 {
    font-size: 3.2vh;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}

button {
    background-color: getColor("green");
    border: none;
    border-radius: 4px;
    color: getColor("offWhite");
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    outline: none;

    $marginOne: 7px;
    margin: $marginOne $marginOne $marginOne $marginOne;
    
    &.pale-hover {
        &:hover {
            background-color: getColor("offWhite") !important;
            color: black !important;
            border: 0.1vh solid getColor("green");
        }
    }
    
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.round {
        @include completelyRoundBorder();
    }

    &.blink-focus {
        &:focus { 
            @include blinkingAnimation(); 
        }
    }

    @include allColors();
}