h1 {
    font-size: 30px;
    color: getColor("offWhite");
}

img {
    width: 90%;
    max-height: 500px;
    
}

div {
}

p {
    color: darken(getColor("purple"), 12%);
    font-size: 17px;
    text-align: left;
}

@media screen and (max-width: $phoneWidth) {
    h1 {
        font-size: 3.4vh;
    }
    p {
        font-size: 2.4vh;
    }
}