@mixin gradient1(
    $colorLeft, 
    $colorRight: "offWhite", 
    $opacity: 0.5, 
    $name: '1'
  ) {
    .gradient#{$name} {
        $padding: 3vh;
        width: 90%;
        padding-top: $padding;
        padding-bottom: $padding;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(
          to right,
          themeRGBA($colorLeft, $opacity),
          getColor($colorRight)
        );
    }
};

