@use "sass:map";

$themeColors: (
    "green": #4CAF50,
    "grey":  #333,
    "yellow":  #F3C620,
    "blue": #2196F3,
    "red": #f44336,
    "offWhite":  #fffff4
);

@function getColor($name) {
    @return map.get($themeColors, $name);
}

$opaqueThemeColors: (
    "blue": rgba(33, 150, 243, 0.2)
);

@function getOpaqueColor($name) {
    @return map.get($opaqueThemeColors, $name)
}

$whiteText: #f2f2f2;