@mixin blinkingAnimation($speedOfAnimation: 2s, $time: infinite) {
    animation: blinking $speedOfAnimation $time;
    $fullOpacity: 1;
    @keyframes blinking {
        0%		{ opacity: $fullOpacity;}
        50%		{ opacity: $fullOpacity/5;}
        100%	{ opacity: $fullOpacity;}
    }   
}